<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/hotelia campana.svg">
    <title>Login Hotelia</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body class="loginx">
    <div class="login-box">
        <img src="../img/Hotelia horizontal negro.svg" alt="" class="logo"> <br><br>
        <img src="../img/avatar login.webp" alt="" class="avatar">
        <br><br>
        <label for="">Usuario</label><br>
        <input type="text"> <br><br>
        <label for="">Contraseña</label><br>
        <input type="password"><br><br>
        <button type="submit">Ingresar</button> <br><br>
        <p>¿No tienes cuenta? <a href="">Registrate aquí.</a></p>
    </div>
</body>
</html>